---
layout: default
title: "Napa Valley Hotel Photos | Wine Country Inn Gallery"
meta_description: "Enjoy a stunning visual online tour of the Wine Country Inn and the surrounding vineyards at our Bed and Breakfast in Napa Valley, St Helena."
permalink: /gallery/
---
<section class="inner-page-banner bg-img-cover" style="background-image: url(/assets/images/gallery/gallery-banner.jpg);">
 	<h1>Photo Gallery</h1>
</section>
{% assign categories = site.data._galleries %}
<section>
    <!-- gallery wrap --> 
    <div class="gallery-wrapper">
        <div class="gallery-listing">
            <div class="gallery-container">
                <ul class="gallery-nav">
                    <li><a href="javascript:void(0);" data-rel="all" class="filter active"  data-filter="all">All</a></li>

                    {% for category in categories %} {% assign catname = category[0] %}
                        <li><a href="javascript:void(0);" class="filter" data-rel="{{catname}}">{{site.data._galleries[catname].name}}</a></li>
                    {% endfor %}

                </ul>
            </div>
            <div class="gallery-wrap" id="lightGallery">
                <ul class="gallery-row">
                    {% for category in categories %}
                        {% assign catname = category[0] %}
                        {% for photo in site.data._galleries[catname].photos %}
                            <li class="gallery-item fancybox" data-filter="{{catname}}" >
                                <div class="item" data-src="{% if photo.url_large %}{{ photo.url_large }}{% else %}{{ photo.url }}{% endif %}" data-exthumbimage="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url }}{% endif %}">
                                    <img src="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url }}{% endif %}" class="img-responsive" alt="{{photo.description}}" /> 
                                    <div class="overlay">
                                        <div class="text"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                            </li>  
                        {% endfor %}
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</section>

<section class="common-banner" style="background-image: url(/assets/images/gallery/comfort.jpg);">
    <div class="banner-content">
        <h4> Escape to <span class="italic"> wine country </span> </h4>
        <div class="ita_large_text left-line">This authentic Napa Valley boutique inn is perfect for a romantic getaway.</div>
        <a href="https://res.windsurfercrs.com/ibe/index.aspx?propertyID=14513" target="_blank" class="theme-btn" target="_blank" title="Book Your Stay">Book Your Stay<i class="fa  fa-angle-right" aria-hidden="true"></i></a>
    </div>
</section>

<!-- Sojern Tag v6_js, Pixel Version: 1 -->
<script>
  (function () {
    
    var params = {};

    /* Please do not modify the below code. */
    var cid = [];
    var paramsArr = [];
    var cidParams = [];
    var pl = document.createElement('script');
    var defaultParams = {"vid":"hot"};
    for(key in defaultParams) { params[key] = defaultParams[key]; };
    for(key in cidParams) { cid.push(params[cidParams[key]]); };
    params.cid = cid.join('|');
    for(key in params) { paramsArr.push(key + '=' + encodeURIComponent(params[key])) };
    pl.type = 'text/javascript';
    pl.async = true;
    pl.src = 'https://beacon.sojern.com/pixel/p/32507?f_v=v6_js&p_v=1&' + paramsArr.join('&');
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(pl);
  })();
</script>
<!-- End Sojern Tag -->
