<span>Share:</span>
<a href="https://www.facebook.com/sharer/sharer.php?s=100&p[title]={{ page.title }}&p[url]={{ page.url | absolute_url }}&p[summary]={{ page.meta_description | strip_html | truncatewords: 20 | remove: '<p>' | remove: '</p>'}}&p[images][0]={{ site.data.social.og_image }}" onClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" title="Facebook"><i class="fa fa-facebook-f"></i></a>

<a href="https://twitter.com/intent/tweet?{% if site.data.social.twitter.username %}via={{ site.data.social.twitter.username }}&{% endif %}text={{ page.title }} {{site.url}}{{ page.url }}" title="Share on Twitter" onClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;"><i class="fa fa-twitter"></i></a>

<a href="https://plus.google.com/share?url={{site.url}}{{ page.url }}" onClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" title="Share on Google plus"><i class="fa fa-google-plus"></i></a>

{% assign title = blog.title | replace: "'", "" %}

<a href="javascript:void(0);" title="Share on Pinterest" onClick="pinterestShare('{{blog.blogimage.url}}', '{{title}}');"  ><i class="fa fa-pinterest-p"></i></a>
