<section id="mobileRedirect" class="mobile-redirect-popover modal" rt3-rooms-browser="browser" data-backdrop="static">
    <div class="wrapper" >
        <h5>Welcome to</h5>
        <img src="/assets/images/main-logo.png" alt="Wine Country Inn">
        <a class="theme-btn" href="https://res.windsurfercrs.com/ibe/index.aspx?propertyID=14513&_ga=2.40449506.1935284742.1522049259-1298168549.1521460063" id="track_bookaroom">Book A Room Now</a>
        <a class="theme-btn" href="javascript:void(0);" data-dismiss="modal" id="track_hotel">Enter Hotel Website</a>
    </div>
    <div class="map-inner popmap"></div>
</section>
