<div id="offer-popup" class="offer-popup modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-wrapper">

      <button type="button" class="close" data-dismiss="modal">&times;</button>

      <div class="modal-content">
        <div class="modal-content-inner">
          <h2>WE ARE OPEN</h2>
          <p>We are back & ready to make your stay unforgettable. Click now and receive Exclusive Offers!</p>
          <div><a class="button-common btn-blue" href="/specials/">Learn More</a></div>
        </div>
      </div>

    </div>

  </div>
</div>
 