<section class="common-banner" style="background-image: url(/assets/images/banner-plenty.jpg);">
    <div class="banner-content">
        {% regionblock accommodations_header_4, type:header %}
        <h4>Unforgettable Experiences</h4>
        {% endregionblock %}
        <div class="ita_large_text left-line">
            {% regionblock accommodations_text_2, type:text %}From lively girls' weekends to relaxing retreats, memories are made at the Wine Country Inn & Cottages{% endregionblock %}
        </div>
        {% regionblock accommodations_text_3, type:text %}
        <a href="/groups/" target="_blank" class="theme-btn" target="_blank" title="Groups & Events">Groups & Events<i class="fa  fa-angle-right" aria-hidden="true"></i></a>
        {% endregionblock %}
    </div>
</section>