.offer-popup {
  align-items: center;
  background-image: url('/images/offer-popup-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  &.fade .modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-wrapper {
    position: relative;
    max-width: 650px;
    margin: 0 auto;

    .close {
      position: absolute;
      top: -10px;
      right: -6px;
      z-index: 9;
      width: 22px;
      background-color: #fff !important;
      border-radius: 50%;
      opacity: 1;
    }

  }

  .modal-content {
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 0;

    .modal-content-inner {
      margin: 18px;
      padding: 30px 50px 25px;
      border: 1px solid #33a2cc;
      @media screen and (max-width: 1024px) {
        padding: 30px 20px 25px;
      }

      h2 {
        padding-bottom: 18px;
        font-family: "Oswald",sans-serif;
        font-size: 28px;
        line-height: 35px;
        color: #008cc1;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:after {
          display: block;
          width: 61px;
          height: 1px;
          margin: 18px auto 0;
          content: '';
          background: #33a2cc;
        }
      }
      p {
        padding-bottom: 35px;
        font-family: "Oswald",sans-serif;
        line-height: 28px;
        color: #727b83;
        letter-spacing: .5px;
        font-size: 18px;
      }

    }

  }

  .button-common {
    color: #008cc1;
    border-color: #008cc1;

    &:hover {
      color: #fff;
      background-color: #008cc1;
    }

  }


}
/*Only for Concerts page*/
.blue-button{
  text-align: center;
  margin: 25px auto;
  a{
    &.button-common{
      background-color: #3a9dc4;
      border: solid 2px #3a9dc4;
      min-width: 200px;
      letter-spacing: 3px;
      &:hover{
        background-color: #1086b4;
        color: white;
      }
    }
  }
}
/*Ended Here*/