---
layout: default
title: "Activities & Events in Napa Valley | Wine Country Inn Blog"
meta_description: "Read the Wine Country Inn's blog to stay up to date on what's happening in Napa Valley and around our St. Helena inn including events & other attractions."
parent: blog
meta_tags: noindex, follow
---
<section class="inner-page-banner bg-img-cover" style="background-image: url('/assets/images/hero-blog.jpg');">
  <div class="hero-banner-content">
    <h1>Blog</h1>
    <p>Whether you’re looking for a wine and food-filled vacation, an outdoor adventure, or a day exploring local art and culture, Napa Valley has plenty to offer. Stay up to date with all happenings in California wine country.
</p>
  </div>
</section>

<section class="blog">
  <div class="blog__row">
    <div class="blog__categories">
      {% include blog-categories.html %}
    </div>
    <div class="blog__list">
      {% for post in data_paginator.posts %}
      <div class="blog__item">
        <figure class="blog__image">
          <a href="/blog/{{ post.url_friendly_name }}/">
            <img src="{{ post.blogimage.url_medium }}" alt="{{ post.title }}">
          </a>
          </figure>

        <h2>
          <a href="/blog/{{ post.url_friendly_name }}/">{{ post.title }}</a>
        </h2>
        <div class="blog__info">
          <span class="blog__date">{% assign d = post.date | date: "%-d" %}
                        {{ post.date | date: "%B" }}
                        {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
                        {{ post.date | date: "%Y" }} </span>
                        {% if post.category %}
                        <a href="/blog/category/{{post.category.url_friendly_name}}/" class="blog__category">{{ post.category.title }}</a>
                        {% else %}
                        <a href="/blog/category/napa-valley-outdoors/" class="blog__category">Napa Valley Outdoors</a>
                        {% endif %}
        </div>
        {% if post.short_description != "" %}
          {{ post.short_description }}
        {% endif %}
        <div class="btn-holder">
          <a href="/blog/{{ post.url_friendly_name }}/" class="theme-btn">Read More</a>
        </div>
      </div>
      {% endfor %}

{% if data_paginator.total_pages > 1 %}
            <div class="page-number">Page: {{ data_paginator.page }} of {{ data_paginator.total_pages }}</div>
              <ul class="pagination justify-content-center">
                <li class="page-item {% if data_paginator.previous_page %}{% else %}disabled{% endif %}">
                  <a class="page-link" href="{% if data_paginator.previous_page %}{{ data_paginator.previous_page_path }}{% else %}#{% endif %}">Previous</a>
                </li>
                <li class="page-item {% if data_paginator.next_page %}{% else %}disabled{% endif %}">
                  <a class="page-link" href="{% if data_paginator.next_page %}{{ data_paginator.next_page_path }}{% else %}#{% endif %}">Next</a>
                </li>
              </ul>
            {% endif %}
    </div>

  </div>
</section>

<section class="common-banner mt-0" style="background-image: url('/assets/images/banner-blog-listing.jpg');">
  <div class="banner-content">
    {% regionblock blog_heading_2, type:header %}
      <h4>Stay<span class="italic"> in the heart</span> of the Napa Valley</h4>
    {% endregionblock %}
    <div class="ita_large_text left-line">
      {% regionblock blog_text_1, type:text %}
        Comfort, hospitality, and wine country charm in a one-of-a-kind boutique hotel.
      {% endregionblock %}
    </div>
    {% regionblock blog_text_2, type:text %}
      <a href="/amenities/" class="theme-btn">view amenities<i class="fa fa-angle-right" aria-hidden="true"></i></a>
    {% endregionblock %}
  </div>
</section>

<!-- Sojern Tag v6_js, Pixel Version: 1 -->
<script>
    (function () {

      var params = {};

      /* Please do not modify the below code. */
      var cid = [];
      var paramsArr = [];
      var cidParams = [];
      var pl = document.createElement('script');
      var defaultParams = {"vid":"hot"};
      for(key in defaultParams) { params[key] = defaultParams[key]; };
      for(key in cidParams) { cid.push(params[cidParams[key]]); };
      params.cid = cid.join('|');
      for(key in params) { paramsArr.push(key + '=' + encodeURIComponent(params[key])) };
      pl.type = 'text/javascript';
      pl.async = true;
      pl.src = 'https://beacon.sojern.com/pixel/p/32507?f_v=v6_js&p_v=1&' + paramsArr.join('&');
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(pl);
    })();
</script>
<!-- End Sojern Tag -->
