---
layout: default
---

<section class="inner-page-banner bg-img-cover" style="background-image: url('/assets/images/hero-blog.jpg');">
  <div class="hero-banner-content">
    <h1>Blog</h1>
    <p>Whether you’re looking for a wine and food-filled vacation, an outdoor adventure, or a day exploring local art and culture, Napa Valley has plenty to offer. Stay up to date with all happenings in California wine country.
    </p>
  </div>
</section>

<section class="blog">
  <div class="blog__row">
    <div class="blog__categories">
      {% include blog-categories.html %}
    </div>
    <div class="blog__list">
      <div class="blog__item">

          <h3>Search Results:</h3>
          <ul id="search-results" class="blog-results"></ul>

      </div>
    </div>

  </div>
</section>

<script>
  window.store = {
    {% for post in site.data._models.blog %}
      "{{ post.url_friendly_name }}": {
        "title": "{{ post.title | xml_escape }}",
        "category": "{{ post.category.title | xml_escape }}",
        "content": {{ post.short_description | strip_html | strip_newlines | jsonify }},
        "url": "{{ post.url_friendly_name | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>
