---
layout: default
parent: /blog/
---
{% assign post = site.data._models.blog  %}
{% assign blog = page %}
{% assign seo_title = blog.seo_title %}
{% assign seo_description = blog.seo_description %}

{% for p in post %}
    {% if p.url_friendly_name == blog.url_friendly_name %}
        {% assign pInd = forloop.index0 | minus: 1 %}
        {% assign nInd = forloop.index0 | plus: 1 %}
        {% if forloop.first != true %}
            {% assign prevPostTitle = post[pInd].title %}
            {% assign prevPostUrl = post[pInd].url_friendly_name %}
        {% endif %}
        {% if forloop.last != true %}
            {% assign nextPostTitle = post[nInd].title %}
            {% assign nextPostUrl = post[nInd].url_friendly_name %}
        {% endif %}
    {% endif %}
{% endfor %}


{% assign model = page %}

<section class="inner-page-banner bg-img-cover" style="background-image: url('/assets/images/hero-blog.jpg');">
    <h1>Blog</h1>
</section>

<div class="white-bar"></div>

<section class="blog blog--single">
  <div class="blog__row">
    <div class="blog__categories">
      {% include blog-categories.html %}
    </div>
    <div class="blog__list">
      <div class="blog__item">
        <h1>{{ blog.title }}</h1>
        <div class="blog__info">
          <span class="blog__date">{% assign d = blog.date | date: "%-d" %}
                  {{ blog.date | date: "%B" }}
                  {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
                  {{ blog.date | date: "%Y" }}</span>
					{% if blog.category %}
					<a href="/blog/category/{{blog.category.url_friendly_name}}/" class="blog__category">{{ blog.category.title }}</a>
					{% endif %}
        </div>

        <figure class="blog__image">
          <img src="{{ blog.blogimage.url_medium }}" alt="{{ blog.title }}">
        </figure>

        {{ blog.long_description }}

        <div class="blog__share">
          {% include blog-share.html %}
        </div>

        <div class="pagenav">
                    {%if prevPostUrl %}
                    <a class="prev" href="/blog/{{prevPostUrl}}" title="Previous Blog"><i class="fa fa-angle-left" aria-hidden="true"></i> Prevous </a> |
                    {%else%}
                    <a class="prev not-active" href="/blog/{{prevPostUrl}}" title="Current Blog"><i class="fa fa-angle-left" aria-hidden="true"></i> Prevous </a> |
                    {%endif%}
                    {%if nextPostUrl %}
                    <a class="next" href="/blog/{{nextPostUrl}}" title="Next Blog">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    {%else%}
                    <a class="next not-active" href="/blog/{{nextPostUrl}}" title="Next Blog">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    {%endif%}
                </div>

        <div class="btn-holder">
          <a href="/blog/" class="theme-btn">See all blog posts</a>
        </div>
      </div>

    </div>

  </div>
</section>


<section class="common-banner mt-0" style="background-image: url(/assets/images/hero-amenities.jpg);">

  <div class="banner-content">
    <h4>Enjoy a host of <span class="italic">unique extras</span> during your stay.</h4>
    <div class="ita_large_text left-line">Wine Country Inn & Cottages is one of the most beautiful St. Helena hotels near Napa Valley.</div>
    <a href="/amenities/" class="theme-btn" >view amenities<i class="fa  fa-angle-right" aria-hidden="true"></i></a>

  </div>

</section>
